@use "./mixins.scss";
@use "./themes.scss";
@use "./tokens.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply text-gray-800;
    background-color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    height: 100%;
}

router-outlet + * {
    display: block;
    height: 100%;
}

body,
#root {
    height: 100%;
}

button:focus {
    outline: none;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
}
body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
}

details,
summary {
    all: unset; /* Removes built-in styles and functionality */
    display: block;
}
